## The Web Scraping Recipe

To scrape information from the web is:
1. **MAPPING**: Finding URLs of the pages containing the information you want.
2. **DOWNLOAD**: Fetching the pages via HTTP.
3. **PARSE**: Extracting the information from HTML.  
  
  
You could also add `connection`, `storing`, `logging`, etc.
   


### Packages used
* for connecting to the internet we use: **requests**
* for parsing: **beautifulsoup** and **regex**
* for automatic browsing / screen scraping: **selenium** 
* for mitigating errors we use: **time**

We will write our scrapers with basic python, for larger projects consider looking into the packages **scrapy**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import yfinance as yf
import os

In [3]:
import requests
from bs4 import BeautifulSoup
import re
import selenium
import time

import tqdm
import json

#### 解析方法1
通过url和`pd.read_html(url)` (Read HTML tables into a list of DataFrame objects) 获得表

In [12]:
# NBA网站
url = 'https://www.basketball-reference.com/leagues/NBA_2018.html' # link to the website
dfs = pd.read_html(url) # parses all tables found on the page. 这个简直mapping, download, parse三合一
dfs[1] # 列出第2个表

         Western Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
0          Houston Rockets*  65  17  0.793     —  112.4  103.9  8.21
1    Golden State Warriors*  58  24  0.707   7.0  113.5  107.5  5.79
2   Portland Trail Blazers*  49  33  0.598  16.0  105.6  103.0  2.60
3    Oklahoma City Thunder*  48  34  0.585  17.0  107.9  104.4  3.42
4                Utah Jazz*  48  34  0.585  17.0  104.1   99.8  4.47
5     New Orleans Pelicans*  48  34  0.585  17.0  111.7  110.4  1.48
6        San Antonio Spurs*  47  35  0.573  18.0  102.7   99.8  2.89
7   Minnesota Timberwolves*  47  35  0.573  18.0  109.5  107.3  2.35
8            Denver Nuggets  46  36  0.561  19.0  110.0  108.5  1.57
9      Los Angeles Clippers  42  40  0.512  23.0  109.0  109.0  0.15
10       Los Angeles Lakers  35  47  0.427  30.0  108.1  109.6 -1.44
11         Sacramento Kings  27  55  0.329  38.0   98.8  105.8 -6.60
12         Dallas Mavericks  24  58  0.293  41.0  102.3  105.4 -2.70
13        Memphis Grizzlies  22  60  0.268  43.0   99.3  105.5 -5.81
14             Phoenix Suns  21  61  0.256  44.0  103.9  113.3 -8.80

#### 解析方法2
url->`requests.get(url)`->`BeautifulSoup(.content,'html.parser')`->`.find_all('h2')[0]`获得二级标题h2的第一个

In [13]:
url = 'https://www.basketball-reference.com/leagues/NBA_2018.html'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')  #parse
soup.find_all('h2')[0].text  #identify

'Conference Standings'

#### 操作实例1
<p>目标网站 www.jobnet.dk</p>
找出前100条工作信息并制表，统计出最多的10个工作区域

In [18]:
# 定义一个记录文件的函数
def log(response,logfile,output_path=os.getcwd()):
    # Open or create the csv file
    if os.path.isfile(logfile): #If the log file exists, open it and allow for changes     
        log = open(logfile,'a')
    else: #If the log file does not exist, create it and make headers for the log variables
        log = open(logfile,'w')
        header = ['timestamp','status_code','length','output_file']
        log.write(';'.join(header) + "\n") #Make the headers and jump to new line
        
    # Gather log information
    status_code = response.status_code #Status code from the request result
    timestamp = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time())) #Local time
    length = len(response.text) #Length of the HTML-string
    
    # Open the log file and append the gathered log information
    with open(logfile,'a') as log:
        log.write(f'{timestamp};{status_code};{length};{output_path}' + "\n") #Append the information and jump to new line

In [19]:
links = []
for offset in range(0,5*20,20): # offset间隔20是找出的翻页url规律，因为要前100条工作信息，一页20条，所以是5*20
    url = f'https://job.jobnet.dk/CV/FindWork/Search?offset={offset}'   # 点击需要的信息页面，然后找到它的Request URL
    links.append(url)
    
logfile = 'log3.csv' # 记录文件
list_htmls = []
jobs_first100 = pd.DataFrame()

for url in tqdm.tqdm(links):
    try:
        response = requests.get(url, headers={'name':'Siyi','email':'wasariii@outlook.com'})
    except Exception as e: # 发生错误的情况
        print(url) #Print url
        print(e) #Print error
        jobs_first100.to_csv('jobs_first100.csv') #Save the dataframe as a csv file to retrieve at another time
        continue #Continue to next iteration of the loop
    
    if response.ok: #Check if the response carries any data
        result_json = response.json() #If the response carries data, then convert it to json format
    else: #If the response does not carry any data, then print the status_code and continue to next iteration of the loop
        print(response.status_code)
        continue
    
    result_df = pd.DataFrame(result_json['JobPositionPostings']) # 网页Network-Search-Preview下
    jobs_first100 = pd.concat([jobs_first100,result_df], axis=0, ignore_index=True) #Append to the rest of the data
    log(response, logfile)
    time.sleep(0.5) #Sleep for 0.5 seconds 时间控制
jobs_first100

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:04<00:00,  1.09it/s]

,AutomatchType,Abroad,Weight,Title,JobHeadline,Presentation,HiringOrgName,WorkPlaceAddress,WorkPlacePostalCode,WorkPlaceCity,...,HiringOrgCVR,UserLoggedIn,AnonymousEmployer,ShareUrl,DetailsUrl,JobLogUrl,HasLocationValues,ID,Latitude,Longitude
0,0,False,1.0,Er du vores nye kollega?,Er du vores nye kollega?,Søegaard Vandteknik søger en stabil og service...,SØEGAARD VANDTEKNIK ApS,Navervej 20,4000,Roskilde,...,32284213,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5653474,https://job.jobnet.dk/CV/FindWork/Details/5653474,True,5653474,55.6390,12.1198
1,0,False,1.0,Vi har brug for dig til vores produktion,Vi har brug for dig til vores produktion,Søegaard Vandteknik søger stabil og robust pro...,SØEGAARD VANDTEKNIK ApS,Biltris Gade 25,4070,Kirke Hyllinge,...,32284213,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5653469,https://job.jobnet.dk/CV/FindWork/Details/5653469,True,5653469,55.7243,11.9323
2,0,False,1.0,Regnskabschef,Regnskabschef,"FULLHOUSE A/S søger en erfaren regnskabschef, ...",FULL HOUSE A/S,Sydholmen 1,2650,Hvidovre,...,16444286,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5651028,https://job.jobnet.dk/CV/FindWork/Details/5651028,True,5651028,55.6084,12.4692
3,0,False,1.0,Pædagog/PAU til bocenter for borgere med særli...,Pædagog/PAU til bocenter for borgere med særli...,Kan du danse polka?Hør lige her hvad en medarb...,Hillerød Kommune,Nødebovej,3480,Fredensborg,...,29189366,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5653471,https://job.jobnet.dk/CV/FindWork/Details/5653471,True,5653471,55.9709,12.4020
4,0,False,1.0,Kok,Kok,Kok søges til Storebælt Sinatur Hotel & Konfer...,Storebælt Sinatur Hotel & Konference,Østerøvej 121,5800,Nyborg,...,55602816,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5653470,https://job.jobnet.dk/CV/FindWork/Details/5653470,True,5653470,55.3102,10.8183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,False,1.0,Svendborg Søfartsskole søger controller,Svendborg Søfartsskole søger controller,Svendborg Søfartsskole\nsøger\nController\n \n...,SVENDBORG SØFARTSSKOLE,Overgade 6,5700,Svendborg,...,64305018,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5653309,https://job.jobnet.dk/CV/FindWork/Details/5653309,True,5653309,55.0144,10.5980
96,0,False,1.0,Medarbejder til Ungdomsmodtagelse Bornholm,Medarbejder til Ungdomsmodtagelse Bornholm,Brænder du for at arbejde med unge menneskers ...,Bornholms Regionskommune,Ullasvej 23,3700,Rønne,...,26696348,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5653315,https://job.jobnet.dk/CV/FindWork/Details/5653315,True,5653315,55.0925,14.7087
97,0,False,1.0,Marinekonstabel til Søværnets Tamburkorps – in...,Marinekonstabel til Søværnets Tamburkorps – in...,"Har du musik i blodet, og kunne du tænke dig a...",Marinestation København,Henrik Gerners Plads 1,1439,København K,...,16287180,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5653314,https://job.jobnet.dk/CV/FindWork/Details/5653314,True,5653314,55.6847,12.6076
98,0,False,1.0,Dansk Isoleringsteknik i Ans søger Isolatør,Dansk Isoleringsteknik i Ans søger Isolatør,\n \nDansk Isoleringsteknik i Ans søger en fa...,Dansk Isoleringsteknik ApS,Ansvej 51,8643,Ans By,...,42440280,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5620156,https://job.jobnet.dk/CV/FindWork/Details/5620156,True,5620156,56.3124,9.5485
99,0,False,1.0,Medarbejdere til nedtagningsopgave i Skanderbo...,Medarbejdere til nedtagningsopgave i Skanderbo...,Medhjælpere til nedtagningsopgave i Skanderbor...,Moment A/S,,8660,Skanderborg,...,25328949,False,False,https://job.jobnet.dk/CV/FindWork/DetailsSocia...,https://job.jobnet.dk/CV/FindWork/Details/5649460,https://job.jobnet.dk/CV/FindWork/Details/5649460,True,5649460,56.0239,9.8924

In [20]:
# 统计最多的10个OccupationArea，降序
jobs_first100.groupby(jobs_first100['OccupationArea'])['ID'].count().sort_values(ascending=False)[0:10]

OccupationArea
Akademisk arbejde                             16
Pædagogisk, socialt og kirkeligt arbejde      13
Hotel, restauration, køkken, kantine          10
Sundhed, omsorg og personlig pleje            10
Undervisning og vejledning                     7
Rengøring, ejendomsservice og renovation       6
Industriel produktion                          6
Kontor, administration, regnskab og finans     6
Bygge og anlæg                                 6
Salg, indkøb og markedsføring                  6
Name: ID, dtype: int64

#### 操作实例2
<p>目标网站 www.dr.dk/nyheder/udland</p>
列出前10条文章的title, lead, time

In [4]:
url = 'https://www.dr.dk/nyheder/udland' 
response = requests.get(url, headers={'name':'Siyi','email':'wasariii@outlook.com'})
soup = BeautifulSoup(response.content,'lxml')

articles = soup.find_all('div', class_ = 'dre-teaser-content') #获取article信息 network panel->Elements
#(class_ is used because class is reserved in Python)

In [5]:
list_of_article_urls = []
# Creating a loop that appends the article url to the list above
for i in range(len(articles)):
    list_of_article_urls.append(articles[i].find('a')['href'])  # 找出所有文章的url


list_of_article_urls_final = []
for link in list_of_article_urls:
    if '/nyheder/udland' in link: #All article URLs have this string in them, so we restrict on it being in the URL
        list_of_article_urls_final.append(link)
print(list_of_article_urls_final)

['/nyheder/udland/ghana-vil-ulovliggoere-homoseksualitet', '/nyheder/udland/amerikansk-radiovaert-skal-betale-millionerstatning-loegne-om-skoleskyderi', '/nyheder/udland/ukrainsk-militaer-bryder-krigsregler-foerer-krig-fra-private-hjem-skoler-og', '/nyheder/udland/knap-var-flyet-landet-i-taiwan-foer-en-storpolitisk-konflikt-var-i-lys-lue-her-er', '/nyheder/udland/drs-matilde-kimer-er-blevet-udvist-af-rusland', '/nyheder/udland/foerste-amerikanske-delstat-har-stemt-nej-til-fjerne-retten-til-fri-abort', '/nyheder/udland/pelosi-roser-taiwans-demokrati-mens-kina-sender-kampfly-paa-vingerne', '/nyheder/udland/taiwan-byder-pelosi-velkommen-med-aabne-arme-mens-kina-skruer-op-trusler', '/nyheder/udland/al-qaeda-leder-blev-draebt-i-diplomatkvarter-fem-minutters-gang-fra-tidligere-dansk', '/nyheder/udland/nancy-pelosi-trodser-kinesiske-advarsler-ankommer-til-taiwan-til-historisk-besoeg', '/nyheder/udland/corona-laeges-selvmord-saetter-gang-i-oestrigsk-debat-om-netchikane', '/nyheder/udland/puk-damsgaard-markant-og-bemaerkelsesvaerdigt-al-qaedas-draebte-topleder-opholdt-sig', '/nyheder/udland/usa-draeber-al-qaedas-leder-med-drone-i-kabul', '/nyheder/udland/foerste-fragtskib-i-flere-maaneder-sejler-nu-gennem-sortehavet-en-lettelse-verden', '/nyheder/udland/forventningerne-er-meget-lave-forud-verdens-stoerste-konference-nedrustning-af', '/nyheder/udland/der-spares-hvor-der-kan-eu-lande-lancerer-energibesparende-tiltag', '/nyheder/udland/drab-paa-nigeriansk-gadesaelger-ved-hoejlys-dag-udloeser-vrede-i-italien', '/nyheder/udland/nye-pas-sim-kort-og-tv-kanaler-putin-er-i-fuld-gang-med-indfoere-russiske-tilstande-i', '/nyheder/udland/corona-duks-har-pludselig-flere-doedsfald-end-nogensinde', '/nyheder/udland/rusland-vil-lade-fn-og-roede-kors-undersoege-angreb-paa-faengslede-krigsfanger', '/nyheder/udland/ukraine-bliver-kritiseret-sende-boern-med-handicap-paa-institutioner-det-minder-om-et', '/nyheder/udland/endnu-en-kinesisk-raket-styrter-mod-jorden-decideret-dumt-og-uansvarligt', '/nyheder/udland/usa-gaar-ind-i-produktionen-af-mikrochips-det-vil-i-hoej-grad-komme-dansk-erhvervsliv', '/nyheder/udland/det-er-uholdbart-russiske-turister-stroemmer-til-finland', '/nyheder/udland/retten-faelder-dom-i-spektakulaer-fodboldfruesag-det-er-rebekah-vardy', '/nyheder/udland/kinas-xi-jinping-advarer-biden-leg-ikke-med-ilden-naar-det-gaelder-taiwan', '/nyheder/udland/ukraine-bomber-vigtig-bro-og-gaar-til-modangreb', '/nyheder/udland/russisk-journalist-doemt-miskreditere-haer', '/nyheder/udland/i-kyiv-trodser-de-luftalarmer-og-udgangsforbud-kom-med-dr-til-raveparty', '/nyheder/udland/trump-tilbage-i-washington-foerste-gang-siden-han-forlod-det-hvide-hus-0', '/nyheder/udland/eu-lande-har-aftalt-bruge-15-procent-mindre-gas-men-de-er-ikke-pisket-til-det', '/nyheder/udland/gazprom-strammer-ifoelge-tyskland-skruen-uden-grund', '/nyheder/udland/risikoen-udvisning-til-rwanda-holder-ikke-migranter-fra-soege-mod-storbritannien', '/nyheder/udland/paven-undskylder-til-de-oprindelige-folk-i-canada-jeg-beder-ydmygt-om-tilgivelse', '/nyheder/udland/xiaoyus-familie-og-tusindvis-andre-er-den-kinesiske-boligdroem-en-bunke-ruiner', '/nyheder/udland/derfor-besynger-ukrainerne-nyt-missilsystem-den-russiske-fremrykning-er-gaaet-i-staa', '/nyheder/udland/russisk-restaurant-i-berlin-lagt-had-folk-sagde-de-ville-skyde-os', '/nyheder/udland/oak-fire-haerger-ved-yosemite-nationalpark-i-usa', '/nyheder/udland/rusland-beskyldes-angribe-havn-dagen-efter-kornaftale-det-er-selvfoelgelig-med-vilje', '/nyheder/udland/kornpriserne-falder-efter-ny-aftale-kommer-til-tage-toppen-af-foedevarekrisen', '/nyheder/udland/analyse-trump-udstilles-af-tilstaaelser-fra-naermeste-og-afsloerende-videoklip', '/nyheder/udland/premierministeren-har-sagt-op-praesidenten-oploeser-parlamentet-og-sender-italienerne', '/nyheder/udland/anden-kritiske-rapport-paa-en-uge-baadmigranter-bliver-efterladt-i-farlige', '/nyheder/udland/rusland-udvider-sine-militaere-maal-i-ukraine-men-intet-tyder-paa-de-har-kapaciteten', '/nyheder/udland/cia-direktoer-afviser-rygter-om-putins-helbred-saa-vidt-vi-ved-saa-er-han-faktisk']

In [23]:
title_list = []
lead_list = []
time_list = []

for i in range(10): #len(list_of_article_urls)
    
    # This time we scrape for each news article in the url list we created before
    url = 'https://www.dr.dk' + list_of_article_urls_final[i] #The scraped links are relative, so we need to add the base url 所有文章的url
    response = requests.get(url, headers={'name':'Siyi','email':'wasariii@outlook.com'})
    soup = BeautifulSoup(response.content,'lxml')
    
    # Append title to list
    temp = soup.find_all('h1')
    temp = temp[1]
    temp = temp.text.strip()
    title_list.append(temp)
    
    # Append lead to list
    temp = soup.find('p', class_='dre-article-title__summary')
    temp = temp.text.strip()
    lead_list.append(temp)

    # Append time posted to list
    temp = soup.find('time', class_='dre-byline__date')
    temp = temp['datetime']
    time_list.append(temp)

In [24]:
df = pd.DataFrame({'title':title_list, 'lead':lead_list, 'time':time_list})
df

,title,lead,time
0,Ghana vil straffe homoseksualitet med fængsel ...,Afrika-korrespondent kalder det et 'tilbagesla...,2022-08-05T11:58:00+00:00
1,Amerikansk radiovært skal betale millionerstat...,"Alex Jones har i årevis påstået, at massakren ...",2022-08-05T03:55:00+00:00
2,Amnesty: Ukrainsk militær bryder krigsregler -...,Zelenskyj kritiserer Amnesty-rapport for at væ...,2022-08-04T11:48:00+00:00
3,"Knap var flyet landet i Taiwan, før en storpol...",Konflikten om ø-staten handler om årtiers poli...,2022-08-03T18:50:00+00:00
4,DR's Matilde Kimer er blevet udvist af Rusland,Rusland slår hårdt ned på uafhængige medier og...,2022-08-03T16:29:00+00:00
5,Første amerikanske delstat har stemt 'nej' til...,Resultatet er en vigtigt sejr for tilhængere a...,2022-08-03T08:56:00+00:00
6,"Pelosi roser Taiwans demokrati, mens Kina send...",Den amerikanske toppolitikers uanmeldte besøg ...,2022-08-03T03:57:00+00:00
7,"Taiwan byder Pelosi velkommen med åbne arme, m...","USA skal støtte demokrati alle steder, skriver...",2022-08-02T18:53:00+00:00
8,Al-Qaeda-leder blev dræbt i diplomatkvarter - ...,Terrorleders tilstedeværelse midt i hovedstade...,2022-08-02T16:14:00+00:00
9,Nancy Pelosi trodser kinesiske advarsler: Anko...,Formanden for Repræsentanternes Hus er ankomme...,2022-08-02T14:52:00+00:00

In [6]:
# what if we need the body?
url = 'https://www.dr.dk/nyheder/udland/gazprom-strammer-ifoelge-tyskland-skruen-uden-grund' 
response = requests.get(url, headers={'name':'Siyi','email':'wasariii@outlook.com'})
soup = BeautifulSoup(response.content,'lxml')
body = soup.find('div', class_ = 'dre-article-body')

'''
This body consists of both sections with text and figures. We want it all.
But sections and figures have different tags, so we cannot just use find_all to find all elements in the body.
Instead we can use .children. It finds all children of the element body:
'''

body_text = []
for child in body.children:
    body_text.append(child.text)
print(body_text)

['Gazprom halverer gasleverancerne til Europa via Nord Stream 1. Årsagen er ifølge selskabet vedligehold af en gasturbine. Den daglige gasforsyning via gasledningen vil fra onsdag morgen blive reduceret til 33 millioner kubikmeter, oplyser Gazprom.Det svarer til cirka 20 procent af den maksimale kapacitet, og det fremgår ikke, hvor længe den yderligt reducerede forsyning af gas vil stå på.', '', 'Den tyske regering anser den forklaringen om vedligeholdelse for at være opfundet til lejligheden.- Ifølge vores oplysninger er der ingen teknisk grund til en reduktion i leverancerne, siger en talskvinde for Finansministeriet og minister Robert Habeck til Frankfurter Allgemeine Zeitung.Tyskerne får 25 procent af deres energi fra gas, hvor en overvejende del er kommet fra Rusland.Gasprisen stiger med 10 procentDet er anden gang indenfor en uge, at Gazprom reducerer leverancen af gas under påskud af reperation af gasturbiner. Da Gazprom efter ti dages vedligehold i sidste uge genåbnede for gasforsyningen til Tyskland, var meldingen, at der dagligt ville blive leveret cirka 67 millioner kubikmeter.Gazproms seneste melding betyder altså, at leverancerne til Europa bliver omtrent halveret fra onsdag. Gasledningen kan, når den kører for fuld kraft, levere cirka 167 millioner kubikmeter gas om dagen.', 'Nordstream 1-faciliter i Lubmin i Tyskland. (Arkiv) (Foto:\xa0HANNIBAL HANSCHKE ©\xa0Ritzau Scanpix)', 'Den ledende europæiske gaspris er mandag aften steget med op til ti procent efter udmeldingen fra Gazprom. Det er fjerde dag i træk, at gasprisen stiger, skriver finansmediet Marketwire ifølge Rtizau.Nord Stream 1 transporterer normalt hvert år 55 milliarder kubikmeter gas fra Rusland til Tyskland under Østersøen. Det er nok til at forsyne cirka 26 millioner europæiske hjem.Den tyske formand for det føderale agentur for digitalisering, klimaneutralitet og modstandsdygtighed, Klaus Müller, bekræfter, at den nuværende levering halveres fra onsdag.', '', 'Stormagter i Europa har anklaget Rusland for at bruge gas som et afpresningsmiddel over for Europa, fordi EU har indført sanktioner mod Rusland på grund af krigen i Ukraine. Ifølge Tyskland er der "ingen tekniske grunde" til den reducerede gasforsyning fra Nord Stream 1, som Gazprom ellers hævder.380.000 danske husstande benytter ifølge Energistyrelsen naturgas til opvarmning via gasfyr. Det svarer til ca. 800.000 danskere.', '', 'Tyskerne vender sig tilbage mod kulTyskland er blandt de europæiske lande, der er mest afhængig af den russiske gas. Men også flere andre europæiske lande, for eksempel Italien, er storforbrugere af gas, der kommer til Europa via Nord Stream 1.Rusland er verdens største eksportør af naturgas. Europa importerer omkring 40 procent af sin gas fra Rusland gennem Tyskland, som sender den billige russiske gas videre til øvrige dele af Europa.Nord Stream 1 er en 1.224 kilometer lang gasrørledning, som løber fra Rusland til Tyskland under Østersøen. Den har været i brug siden 2011.Gaskrisen har fået Tyskland til desperat at lede efter alternativer til gas til landets vigtige industri men også til private husholdninger. For eksempel ved at skifte over til den allermest forurenende energikilde. Nemlig kul. DR Nyheders korrespondent i Tyskland har været i Leipzig for at møde en kulhandler, der har kronede dage:', '', 'FAKTABOKS om Nord Stream 1•Nord Stream 1 er 1224 kilometer lang og består af to gasrørledninger, som løber under Østersøen.•De strækker sig fra Vyborg i Rusland til Lubmin i det nordøstlige Tyskland. Derfra transporteres gassen videre til øvrige dele af Europa.•Den har været i brug siden 2011 og har dermed i over et årti - indtil Ruslands krig mod Ukraine - været en pålidelig kilde til gas til Europa.•Den kan transportere 55 milliarder kubikmeter gas om året til Europa. Det er nok til at forsyne cirka 26 millioner europæiske hjem. Dermed er den særdeles vigtig for gasforsyningen til Europa.•Ruslands statsejede gasselskab Gazprom ejer 51 procent af Nord Stream 1. Tysklands EON og Wintershall Dea, hollandske Gasunie og Frankrigs Engie er også aktionærer.•Projektet er længe blevet set som en model for økonomisk samarbejde mellem Rusland og EU, hvor lande som Tyskland og Italien er blevet stærkt afhængige af den billige russiske gas.•Rusland er verdens største eksportør af naturgas. Europa importerer omkring 40 procent af sin gas fra Rusland.•Kilder: AFP og Reuters af /ritzau/']

In [26]:
'''
We have used .text to get the text of the HTML. The figure elements do not contain any text, so they will just be empty.
We can use .join() to join all the strings in the list. Just join it on an empty string:
# 这步似乎是只去掉了''
'''

''.join(body_text)

'Gazprom halverer gasleverancerne til Europa via Nord Stream 1. Årsagen er ifølge selskabet vedligehold af en gasturbine. Den daglige gasforsyning via gasledningen vil fra onsdag morgen blive reduceret til 33 millioner kubikmeter, oplyser Gazprom.Det svarer til cirka 20 procent af den maksimale kapacitet, og det fremgår ikke, hvor længe den yderligt reducerede forsyning af gas vil stå på.Den tyske regering anser den forklaringen om vedligeholdelse for at være opfundet til lejligheden.- Ifølge vores oplysninger er der ingen teknisk grund til en reduktion i leverancerne, siger en talskvinde for Finansministeriet og minister Robert Habeck til Frankfurter Allgemeine Zeitung.Tyskerne får 25 procent af deres energi fra gas, hvor en overvejende del er kommet fra Rusland.Gasprisen stiger med 10 procentDet er anden gang indenfor en uge, at Gazprom reducerer leverancen af gas under påskud af reperation af gasturbiner. Da Gazprom efter ti dages vedligehold i sidste uge genåbnede for gasforsyningen til Tyskland, var meldingen, at der dagligt ville blive leveret cirka 67 millioner kubikmeter.Gazproms seneste melding betyder altså, at leverancerne til Europa bliver omtrent halveret fra onsdag. Gasledningen kan, når den kører for fuld kraft, levere cirka 167 millioner kubikmeter gas om dagen.Nordstream 1-faciliter i Lubmin i Tyskland. (Arkiv) (Foto:\xa0HANNIBAL HANSCHKE ©\xa0Ritzau Scanpix)Den ledende europæiske gaspris er mandag aften steget med op til ti procent efter udmeldingen fra Gazprom. Det er fjerde dag i træk, at gasprisen stiger, skriver finansmediet Marketwire ifølge Rtizau.Nord Stream 1 transporterer normalt hvert år 55 milliarder kubikmeter gas fra Rusland til Tyskland under Østersøen. Det er nok til at forsyne cirka 26 millioner europæiske hjem.Den tyske formand for det føderale agentur for digitalisering, klimaneutralitet og modstandsdygtighed, Klaus Müller, bekræfter, at den nuværende levering halveres fra onsdag.Stormagter i Europa har anklaget Rusland for at bruge gas som et afpresningsmiddel over for Europa, fordi EU har indført sanktioner mod Rusland på grund af krigen i Ukraine. Ifølge Tyskland er der "ingen tekniske grunde" til den reducerede gasforsyning fra Nord Stream 1, som Gazprom ellers hævder.380.000 danske husstande benytter ifølge Energistyrelsen naturgas til opvarmning via gasfyr. Det svarer til ca. 800.000 danskere.Tyskerne vender sig tilbage mod kulTyskland er blandt de europæiske lande, der er mest afhængig af den russiske gas. Men også flere andre europæiske lande, for eksempel Italien, er storforbrugere af gas, der kommer til Europa via Nord Stream 1.Rusland er verdens største eksportør af naturgas. Europa importerer omkring 40 procent af sin gas fra Rusland gennem Tyskland, som sender den billige russiske gas videre til øvrige dele af Europa.Nord Stream 1 er en 1.224 kilometer lang gasrørledning, som løber fra Rusland til Tyskland under Østersøen. Den har været i brug siden 2011.Gaskrisen har fået Tyskland til desperat at lede efter alternativer til gas til landets vigtige industri men også til private husholdninger. For eksempel ved at skifte over til den allermest forurenende energikilde. Nemlig kul. DR Nyheders korrespondent i Tyskland har været i Leipzig for at møde en kulhandler, der har kronede dage:FAKTABOKS om Nord Stream 1•Nord Stream 1 er 1224 kilometer lang og består af to gasrørledninger, som løber under Østersøen.•De strækker sig fra Vyborg i Rusland til Lubmin i det nordøstlige Tyskland. Derfra transporteres gassen videre til øvrige dele af Europa.•Den har været i brug siden 2011 og har dermed i over et årti - indtil Ruslands krig mod Ukraine - været en pålidelig kilde til gas til Europa.•Den kan transportere 55 milliarder kubikmeter gas om året til Europa. Det er nok til at forsyne cirka 26 millioner europæiske hjem. Dermed er den særdeles vigtig for gasforsyningen til Europa.•Ruslands statsejede gasselskab Gazprom ejer 51 procent af Nord Stream 1. Tysklands EON og Wintershall Dea, hollandske Gasunie og Frankrigs Engie er også aktionærer.•Projektet er længe blevet set som en model for økonomisk samarbejde mellem Rusland og EU, hvor lande som Tyskland og Italien er blevet stærkt afhængige af den billige russiske gas.•Rusland er verdens største eksportør af naturgas. Europa importerer omkring 40 procent af sin gas fra Rusland.•Kilder: AFP og Reuters af /ritzau/'

#### 操作实例3
<p>目标网站 https://www.basketball-reference.com/leagues/NBA_2018.html</p>
列出页面上全部的表

In [7]:
url = 'https://www.basketball-reference.com/leagues/NBA_2018.html' 
response = requests.get(url, headers={'name':'Siyi','email':'wasariii@outlook.com'})
soup = BeautifulSoup(response.content,'lxml')
table_node = soup.find('div', class_ = 'table_wrapper')  # 仅一个表

print(table_node)

<div class="table_wrapper" id="all_confs_standings_E">
<div class="section_heading assoc_confs_standings_E" id="confs_standings_E_sh">
<span class="section_anchor" data-label="Conference Standings" id="confs_standings_E_link"></span><h2>Conference Standings</h2> <div class="section_heading_text">
<ul><li><small>* Playoff teams</small></li>
</ul>
</div>
</div>
<div class="table_container" id="div_confs_standings_E">
<table class="suppress_all sortable stats_table" data-cols-to-freeze=",1" id="confs_standings_E">
<caption>Conference Standings Table</caption>
<colgroup><col/><col/><col/><col/><col/><col/><col/><col/></colgroup>
<thead>
<tr>
<th aria-label="Eastern Conference" class="poptip sort_default_asc left" data-stat="team_name" scope="col">Eastern Conference</th>
<th aria-label="Wins" class="poptip right" data-stat="wins" data-tip="Wins" scope="col">W</th>
<th aria-label="Losses" class="poptip right" data-stat="losses" data-tip="Losses" scope="col">L</th>
<th aria-label="Win-Loss Percentage" class="poptip right" data-stat="win_loss_pct" data-tip="Win-Loss Percentage" scope="col">W/L%</th>
<th aria-label="GB" class="poptip sort_default_asc right" data-stat="gb" data-tip="Games Behind" scope="col">GB</th>
<th aria-label="Points Per Game" class="poptip right" data-stat="pts_per_g" data-tip="Points Per Game" scope="col">PS/G</th>
<th aria-label="Opponent Points Per Game" class="poptip right" data-stat="opp_pts_per_g" data-tip="Opponent Points Per Game" scope="col">PA/G</th>
<th aria-label="Simple Rating System" class="poptip right" data-stat="srs" data-tip="Simple Rating System; a team rating that takes into account average point differential and strength of schedule. The rating is denominated in points above/below average, where zero is average." scope="col">SRS</th>
</tr>
</thead>
<tbody><tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/TOR/2018.html">Toronto Raptors</a>*</th><td class="right" data-stat="wins">59</td><td class="right" data-stat="losses">23</td><td class="right" data-stat="win_loss_pct">.720</td><td class="right" data-stat="gb">—</td><td class="right" data-stat="pts_per_g">111.7</td><td class="right" data-stat="opp_pts_per_g">103.9</td><td class="right" data-stat="srs">7.29</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/BOS/2018.html">Boston Celtics</a>*</th><td class="right" data-stat="wins">55</td><td class="right" data-stat="losses">27</td><td class="right" data-stat="win_loss_pct">.671</td><td class="right" data-stat="gb">4.0</td><td class="right" data-stat="pts_per_g">104.0</td><td class="right" data-stat="opp_pts_per_g">100.4</td><td class="right" data-stat="srs">3.23</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/PHI/2018.html">Philadelphia 76ers</a>*</th><td class="right" data-stat="wins">52</td><td class="right" data-stat="losses">30</td><td class="right" data-stat="win_loss_pct">.634</td><td class="right" data-stat="gb">7.0</td><td class="right" data-stat="pts_per_g">109.8</td><td class="right" data-stat="opp_pts_per_g">105.3</td><td class="right" data-stat="srs">4.30</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/CLE/2018.html">Cleveland Cavaliers</a>*</th><td class="right" data-stat="wins">50</td><td class="right" data-stat="losses">32</td><td class="right" data-stat="win_loss_pct">.610</td><td class="right" data-stat="gb">9.0</td><td class="right" data-stat="pts_per_g">110.9</td><td class="right" data-stat="opp_pts_per_g">109.9</td><td class="right" data-stat="srs">0.59</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/IND/2018.html">Indiana Pacers</a>*</th><td class="right" data-stat="wins">48</td><td class="right" data-stat="losses">34</td><td class="right" data-stat="win_loss_pct">.585</td><td class="right" data-stat="gb">11.0</td><td class="right" data-stat="pts_per_g">105.6</td><td class="right" data-stat="opp_pts_per_g">104.2</td><td class="right" data-stat="srs">1.18</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/MIA/2018.html">Miami Heat</a>*</th><td class="right" data-stat="wins">44</td><td class="right" data-stat="losses">38</td><td class="right" data-stat="win_loss_pct">.537</td><td class="right" data-stat="gb">15.0</td><td class="right" data-stat="pts_per_g">103.4</td><td class="right" data-stat="opp_pts_per_g">102.9</td><td class="right" data-stat="srs">0.15</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/MIL/2018.html">Milwaukee Bucks</a>*</th><td class="right" data-stat="wins">44</td><td class="right" data-stat="losses">38</td><td class="right" data-stat="win_loss_pct">.537</td><td class="right" data-stat="gb">15.0</td><td class="right" data-stat="pts_per_g">106.5</td><td class="right" data-stat="opp_pts_per_g">106.8</td><td class="right" data-stat="srs">-0.45</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/WAS/2018.html">Washington Wizards</a>*</th><td class="right" data-stat="wins">43</td><td class="right" data-stat="losses">39</td><td class="right" data-stat="win_loss_pct">.524</td><td class="right" data-stat="gb">16.0</td><td class="right" data-stat="pts_per_g">106.6</td><td class="right" data-stat="opp_pts_per_g">106.0</td><td class="right" data-stat="srs">0.53</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/DET/2018.html">Detroit Pistons</a></th><td class="right" data-stat="wins">39</td><td class="right" data-stat="losses">43</td><td class="right" data-stat="win_loss_pct">.476</td><td class="right" data-stat="gb">20.0</td><td class="right" data-stat="pts_per_g">103.8</td><td class="right" data-stat="opp_pts_per_g">103.9</td><td class="right" data-stat="srs">-0.26</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/CHO/2018.html">Charlotte Hornets</a></th><td class="right" data-stat="wins">36</td><td class="right" data-stat="losses">46</td><td class="right" data-stat="win_loss_pct">.439</td><td class="right" data-stat="gb">23.0</td><td class="right" data-stat="pts_per_g">108.2</td><td class="right" data-stat="opp_pts_per_g">108.0</td><td class="right" data-stat="srs">0.07</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/NYK/2018.html">New York Knicks</a></th><td class="right" data-stat="wins">29</td><td class="right" data-stat="losses">53</td><td class="right" data-stat="win_loss_pct">.354</td><td class="right" data-stat="gb">30.0</td><td class="right" data-stat="pts_per_g">104.5</td><td class="right" data-stat="opp_pts_per_g">108.0</td><td class="right" data-stat="srs">-3.53</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/BRK/2018.html">Brooklyn Nets</a></th><td class="right" data-stat="wins">28</td><td class="right" data-stat="losses">54</td><td class="right" data-stat="win_loss_pct">.341</td><td class="right" data-stat="gb">31.0</td><td class="right" data-stat="pts_per_g">106.6</td><td class="right" data-stat="opp_pts_per_g">110.3</td><td class="right" data-stat="srs">-3.67</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/CHI/2018.html">Chicago Bulls</a></th><td class="right" data-stat="wins">27</td><td class="right" data-stat="losses">55</td><td class="right" data-stat="win_loss_pct">.329</td><td class="right" data-stat="gb">32.0</td><td class="right" data-stat="pts_per_g">102.9</td><td class="right" data-stat="opp_pts_per_g">110.0</td><td class="right" data-stat="srs">-6.84</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/ORL/2018.html">Orlando Magic</a></th><td class="right" data-stat="wins">25</td><td class="right" data-stat="losses">57</td><td class="right" data-stat="win_loss_pct">.305</td><td class="right" data-stat="gb">34.0</td><td class="right" data-stat="pts_per_g">103.4</td><td class="right" data-stat="opp_pts_per_g">108.2</td><td class="right" data-stat="srs">-4.92</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/ATL/2018.html">Atlanta Hawks</a></th><td class="right" data-stat="wins">24</td><td class="right" data-stat="losses">58</td><td class="right" data-stat="win_loss_pct">.293</td><td class="right" data-stat="gb">35.0</td><td class="right" data-stat="pts_per_g">103.4</td><td class="right" data-stat="opp_pts_per_g">108.8</td><td class="right" data-stat="srs">-5.30</td></tr>
</tbody></table>
</div>
</div>

In [12]:
# 定义函数从上面的结果中制作Data Frame
def parse_html_table(table_node):
    # Get the columns in a list
    columns_html = table_node.thead.find_all('th')
    # Extract the text
    columns = [col.text for col in columns_html]

    rows_list = table_node.tbody.find_all('tr')

    data = []
    for row_node in rows_list:
        row = []
        for child in row_node.children:  # 不仅仅找出文字（？）
            row.append(child.text)
        data.append(row)
    df = pd.DataFrame(data,columns=columns)
    return df
df = parse_html_table(table_node)
df

      Eastern Conference   W   L  W/L%    GB   PS/G   PA/G    SRS
0       Toronto Raptors*  59  23  .720     —  111.7  103.9   7.29
1        Boston Celtics*  55  27  .671   4.0  104.0  100.4   3.23
2    Philadelphia 76ers*  52  30  .634   7.0  109.8  105.3   4.30
3   Cleveland Cavaliers*  50  32  .610   9.0  110.9  109.9   0.59
4        Indiana Pacers*  48  34  .585  11.0  105.6  104.2   1.18
5            Miami Heat*  44  38  .537  15.0  103.4  102.9   0.15
6       Milwaukee Bucks*  44  38  .537  15.0  106.5  106.8  -0.45
7    Washington Wizards*  43  39  .524  16.0  106.6  106.0   0.53
8        Detroit Pistons  39  43  .476  20.0  103.8  103.9  -0.26
9      Charlotte Hornets  36  46  .439  23.0  108.2  108.0   0.07
10       New York Knicks  29  53  .354  30.0  104.5  108.0  -3.53
11         Brooklyn Nets  28  54  .341  31.0  106.6  110.3  -3.67
12         Chicago Bulls  27  55  .329  32.0  102.9  110.0  -6.84
13         Orlando Magic  25  57  .305  34.0  103.4  108.2  -4.92
14         Atlanta Hawks  24  58  .293  35.0  103.4  108.8  -5.30

In [18]:
tables = soup.find_all('table') #Locate all table nodes

dfs = []
for i in range(10): #"len(tables)" instead of 3 to get all tables. len(tables)=13，目前列不全 应该是因为有空项
    table = parse_html_table(tables[i]) #Apply parse_html_table function
    dfs.append(table) # store table in a list
dfs[9]

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Boston Celtics*,82,19805,38.7,88.0,.440,9.7,28.6,.339,...,.763,10.0,35.4,45.4,22.0,7.5,4.6,14.6,19.8,103.9
1,2,Utah Jazz*,82,19755,38.8,86.4,.449,9.9,27.0,.365,...,.771,9.0,34.3,43.3,20.8,8.6,4.8,15.5,21.4,103.9
2,3,San Antonio Spurs*,82,19730,40.1,88.5,.453,9.6,27.6,.348,...,.759,9.7,35.0,44.6,22.9,8.0,4.1,14.8,20.7,104.8
3,4,Philadelphia 76ers*,82,19780,37.9,87.4,.434,10.1,29.5,.342,...,.745,9.9,32.1,42.1,21.7,8.5,5.1,14.3,20.3,105.0
4,5,Toronto Raptors*,82,19830,39.1,87.2,.449,9.1,25.4,.357,...,.767,10.0,33.2,43.2,22.2,7.3,5.0,14.6,20.3,105.9
5,6,Houston Rockets*,82,19755,40.4,87.4,.462,10.3,29.5,.351,...,.746,8.8,34.1,42.9,22.9,7.6,4.5,14.9,20.8,106.1
6,7,Miami Heat*,82,19930,38.9,86.6,.450,9.9,27.5,.360,...,.783,9.4,35.2,44.5,21.7,7.8,4.8,14.6,20.0,106.3
7,8,Portland Trail Blazers*,82,19755,39.6,88.7,.447,10.0,27.4,.364,...,.755,9.6,34.7,44.3,20.8,7.6,5.3,13.0,19.7,106.4
8,9,Oklahoma City Thunder*,82,19830,39.5,86.2,.458,11.5,31.4,.367,...,.769,9.8,33.5,43.3,23.9,7.9,4.7,16.5,21.9,107.2
9,10,Detroit Pistons,82,19805,40.4,88.0,.459,11.4,31.8,.359,...,.776,9.5,35.7,45.2,26.0,7.5,5.0,15.3,19.0,107.3
10,11,Golden State Warriors*,82,19730,40.3,90.1,.447,10.4,29.2,.357,...,.758,10.9,31.7,42.6,23.6,8.8,3.7,14.4,18.5,107.6
11,12,Los Angeles Lakers,82,19905,40.4,88.6,.456,10.3,29.7,.346,...,.761,10.1,34.1,44.2,23.2,8.2,5.4,14.1,20.2,108.0
12,13,Indiana Pacers*,82,19755,40.9,88.0,.465,11.0,31.6,.349,...,.757,10.6,34.0,44.6,24.1,7.3,5.4,16.1,19.2,108.1
13,14,New Orleans Pelicans*,82,19955,40.9,90.2,.454,10.7,30.0,.355,...,.784,10.6,34.0,44.6,23.3,8.0,4.1,14.2,20.0,108.3
14,15,Washington Wizards*,82,19855,40.0,86.5,.462,10.4,29.9,.349,...,.761,10.1,33.5,43.6,22.9,8.0,4.8,15.3,20.5,108.7
15,16,Charlotte Hornets,82,19780,41.5,88.8,.468,11.4,30.4,.375,...,.795,8.5,35.6,44.2,25.0,6.7,5.0,13.7,22.7,109.1
16,17,Dallas Mavericks,82,19805,40.8,87.1,.469,11.1,30.6,.363,...,.757,9.2,38.4,47.5,24.4,7.5,4.7,14.3,20.3,109.5
17,18,Milwaukee Bucks*,82,19830,40.4,86.3,.468,10.4,28.0,.372,...,.783,10.3,33.8,44.0,24.4,7.4,4.6,16.1,20.5,110.1
18,19,Orlando Magic,82,19730,41.6,89.0,.468,10.2,28.0,.362,...,.773,10.8,35.9,46.6,24.8,7.9,5.0,14.5,19.3,110.1
19,20,Los Angeles Clippers,82,19705,40.7,88.8,.458,10.9,30.6,.356,...,.782,10.7,33.4,44.1,24.9,8.6,5.7,14.2,22.2,110.2
20,21,Atlanta Hawks,82,19705,41.3,88.1,.469,11.8,31.2,.377,...,.772,10.4,34.5,44.9,26.5,8.8,5.6,15.3,20.6,110.6
21,22,Brooklyn Nets,82,19855,41.8,89.7,.466,9.1,24.6,.369,...,.766,10.4,36.4,46.9,21.8,7.7,5.5,12.4,19.7,110.6
22,23,New York Knicks,82,19830,40.4,88.5,.457,11.5,31.2,.368,...,.774,10.5,33.8,44.2,24.6,8.4,4.9,13.7,18.9,110.7
23,24,Chicago Bulls,82,19855,41.3,87.5,.472,12.2,32.9,.370,...,.787,8.5,37.5,46.0,26.1,7.2,5.2,13.7,17.5,110.9
24,25,Memphis Grizzlies,82,19705,39.1,84.5,.462,11.2,30.5,.368,...,.769,10.0,34.7,44.7,23.3,8.5,5.4,15.5,21.5,111.0
25,26,Denver Nuggets,82,19880,42.2,88.7,.476,11.1,29.5,.378,...,.738,10.0,32.6,42.6,25.3,8.2,4.9,14.1,21.2,111.0
26,27,Minnesota Timberwolves*,82,19805,41.6,87.6,.475,11.2,30.7,.366,...,.779,10.1,33.2,43.3,24.8,6.7,4.8,15.6,21.6,111.1
27,28,Sacramento Kings,82,19755,40.7,86.5,.470,12.5,33.1,.377,...,.765,9.5,36.4,45.9,24.8,8.1,5.0,15.1,18.2,111.1
28,29,Cleveland Cavaliers*,82,19730,42.6,89.9,.474,11.9,32.2,.368,...,.756,10.1,34.3,44.4,26.3,7.6,4.2,13.7,21.1,111.9
29,30,Phoenix Suns,82,19705,41.6,88.4,.471,10.9,29.1,.373,...,.766,10.4,35.3,45.7,23.2,8.6,5.9,13.3,20.8,112.8

In [31]:
# pd.read_html的作用：Read HTML tables into a list of DataFrame objects.
a = pd.read_html(url)
a[12]  # 这个方法能列出全部的表

   Unnamed: 0_level_0       Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                     Team                  G
0                 1.0            Atlanta Hawks                 82
1                 2.0          Boston Celtics*                 82
2                 3.0            Brooklyn Nets                 82
3                 4.0            Chicago Bulls                 82
4                 5.0        Charlotte Hornets                 82
5                 6.0     Cleveland Cavaliers*                 82
6                 7.0         Dallas Mavericks                 82
7                 8.0           Denver Nuggets                 82
8                 9.0          Detroit Pistons                 82
9                10.0   Golden State Warriors*                 82
10               11.0         Houston Rockets*                 82
11               12.0          Indiana Pacers*                 82
12               13.0     Los Angeles Clippers                 82
13               14.0       Los Angeles Lakers                 82
14               15.0        Memphis Grizzlies                 82
15               16.0              Miami Heat*                 82
16               17.0         Milwaukee Bucks*                 82
17               18.0  Minnesota Timberwolves*                 82
18               19.0    New Orleans Pelicans*                 82
19               20.0          New York Knicks                 82
20               21.0   Oklahoma City Thunder*                 82
21               22.0            Orlando Magic                 82
22               23.0      Philadelphia 76ers*                 82
23               24.0             Phoenix Suns                 82
24               25.0  Portland Trail Blazers*                 82
25               26.0         Sacramento Kings                 82
26               27.0       San Antonio Spurs*                 82
27               28.0         Toronto Raptors*                 82
28               29.0               Utah Jazz*                 82
29               30.0      Washington Wizards*                 82
30                NaN           League Average                 82

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   MP                FG%              Dist.
0               19705              0.469               13.7
1               19805              0.440               13.1
2               19855              0.466               12.6
3               19855              0.472               13.7
4               19780              0.468               13.7
5               19730              0.474               13.4
6               19805              0.469               13.8
7               19880              0.476               12.8
8               19805              0.459               13.6
9               19730              0.447               13.0
10              19755              0.462               12.8
11              19755              0.465               13.6
12              19705              0.458               13.4
13              19905              0.456               12.9
14              19705              0.462               13.3
15              19930              0.450               12.7
16              19830              0.468               12.5
17              19805              0.475               13.1
18              19955              0.454               13.3
19              19830              0.457               13.3
20              19830              0.458               13.1
21              19730              0.468               12.7
22              19780              0.434               13.6
23              19705              0.471               13.0
24              19755              0.447               12.9
25              19755              0.470               13.8
26              19730              0.453               12.8
27              19830              0.449               12.2
28              19755              0.449               13.1
29              19855              0.462               13.3
30              19795              0.460               13.2

   Unnamed: 6_level_0 % of FGA by Distance                ... % of FG Ast'd  \
   Unnamed: 6_level_1                   2P    0-3   3-10  ...            3P
0                 NaN                0.646  0.271  0.127  ...         0.872
1                 NaN                0.674  0.286  0.162  ...         0.818
2                 NaN                0.726  0.260  0.185  ...         0.780
3                 NaN                0.624  0.292  0.122  ...         0.864
4                 NaN                0.657  0.262  0.144  ...         0.853
5                 NaN                0.641  0.299  0.132  ...         0.832
6                 NaN                0.649  0.238  0.167  ...         0.826
7                 NaN                0.668  0.268  0.191  ...         0.835
8                 NaN                0.638  0.251  0.177  ...         0.904
9                 NaN                0.676  0.278  0.166  ...         0.802
10                NaN                0.663  0.304  0.157  ...         0.802
11                NaN                0.641  0.285  0.138  ...         0.861
12                NaN                0.656  0.279  0.139  ...         0.806
13                NaN                0.665  0.304  0.156  ...         0.806
14                NaN                0.639  0.296  0.131  ...         0.833
15                NaN                0.683  0.279  0.188  ...         0.820
16                NaN                0.676  0.327  0.145  ...         0.848
17                NaN                0.650  0.297  0.141  ...         0.840
18                NaN                0.667  0.278  0.155  ...         0.833
19                NaN                0.648  0.291  0.142  ...         0.848
20                NaN                0.636  0.302  0.144  ...         0.842
21                NaN                0.685  0.280  0.180  ...         0.834
22                NaN                0.662  0.239  0.176  ...         0.807
23                NaN                0.670  0.306  0.133  ...         0.817
24                NaN                0.691  0.281  0.152  ...         0.819
25                NaN                0.617  0.260  0.166  ...         0.828
26                NaN                0.688  0.281  0.161  ...         0.827
27                NaN                0.708  0.298  0.177  ...         0.813
28                NaN                0.687  0.254  0.179  ...         0.801
29                NaN                0.654  0.279  0.154  ...         0.808
30                NaN                0.663  0.281  0.156  ...         0.830

   Unnamed: 23_level_0  Dunks      Unnamed: 26_level_0 Layups        \
   Unnamed: 23_level_1   %FGA  Md. Unnamed: 26_level_1   %FGA   Md.
0                  NaN  0.051  318                 NaN  0.259  1024
1                  NaN  0.046  294                 NaN  0.286  1094
2                  NaN  0.043  275                 NaN  0.277  1080
3                  NaN  0.051  330                 NaN  0.264  1110
4                  NaN  0.049  314                 NaN  0.258  1064
5                  NaN  0.055  362                 NaN  0.276  1148
6                  NaN  0.051  314                 NaN  0.216   855
7                  NaN  0.049  310                 NaN  0.291  1188
8                  NaN  0.046  288                 NaN  0.271  1059
9                  NaN  0.052  347                 NaN  0.274  1089
10                 NaN  0.050  315                 NaN  0.294  1193
11                 NaN  0.055  340                 NaN  0.270  1073
12                 NaN  0.058  372                 NaN  0.252  1027
13                 NaN  0.059  384                 NaN  0.280  1142
14                 NaN  0.059  353                 NaN  0.268   993
15                 NaN  0.050  307                 NaN  0.273   995
16                 NaN  0.058  349                 NaN  0.316  1189
17                 NaN  0.060  392                 NaN  0.273  1112
18                 NaN  0.056  376                 NaN  0.277  1129
19                 NaN  0.059  359                 NaN  0.271  1016
20                 NaN  0.059  349                 NaN  0.270  1020
21                 NaN  0.057  365                 NaN  0.296  1189
22                 NaN  0.049  315                 NaN  0.255   936
23                 NaN  0.054  352                 NaN  0.277  1126
24                 NaN  0.037  219                 NaN  0.267   976
25                 NaN  0.052  319                 NaN  0.271  1037
26                 NaN  0.055  337                 NaN  0.267   968
27                 NaN  0.050  300                 NaN  0.287  1039
28                 NaN  0.052  316                 NaN  0.260   943
29                 NaN  0.055  355                 NaN  0.286  1118
30                 NaN  0.053  331                 NaN  0.273  1064

   Unnamed: 29_level_0 Corner
   Unnamed: 29_level_1   %3PA    3P%
0                  NaN  0.216  0.381
1                  NaN  0.181  0.417
2                  NaN  0.186  0.401
3                  NaN  0.213  0.393
4                  NaN  0.194  0.418
5                  NaN  0.213  0.446
6                  NaN  0.190  0.384
7                  NaN  0.247  0.390
8                  NaN  0.233  0.387
9                  NaN  0.189  0.378
10                 NaN  0.214  0.380
11                 NaN  0.198  0.397
12                 NaN  0.233  0.387
13                 NaN  0.196  0.364
14                 NaN  0.223  0.425
15                 NaN  0.199  0.363
16                 NaN  0.222  0.417
17                 NaN  0.228  0.374
18                 NaN  0.201  0.379
19                 NaN  0.243  0.405
20                 NaN  0.239  0.402
21                 NaN  0.230  0.426
22                 NaN  0.187  0.385
23                 NaN  0.190  0.401
24                 NaN  0.186  0.405
25                 NaN  0.205  0.405
26                 NaN  0.213  0.358
27                 NaN  0.196  0.363
28                 NaN  0.183  0.404
29                 NaN  0.192  0.364
30                 NaN  0.208  0.394

[31 rows x 32 columns]