In [1]:
%load_ext sql
%sql ibm_db_sa://xcx21383:obn6EJZ71vblyuAF@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB?security=SSL

Problem 1: Find the total number of crimes recorded in the CRIME table.

In [ ]:
%sql select count(*) from CRIME

Problem 2: List community areas with per capita income less than 11000.

In [ ]:
%sql select COMMUNITY_AREA_NAME from CENSUS where PER_CAPITA_INCOME < 11000

Problem 3: List all case numbers for crimes involving minors?

In [ ]:
%sql select CASE_NUMBER from CRIME where DESCRIPTION like '%MINOR%'

Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [ ]:
%sql select * from CRIME where PRIMARY_TYPE = 'KIDNAPPING'\
    and DESCRIPTION like '%CHILD%'

Problem 5: What kind of crimes were recorded at schools?

In [ ]:
%sql select DISTINCT(PRIMARY_TYPE) from CRIME where LOCATION_DESCRIPTION like '%SCHOOL%'

Problem 6: List the average safety score for all types of schools.

In [ ]:
%sql select 'Elementary, Middle, or High School', AVG(SAFETY_SCORE) from SCHOOL group by 'Elementary, Middle, or High School'
# it is failed, why?

Problem 7: List 5 community areas with highest % of households below poverty line.

In [ ]:
%sql select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS \
    order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc\
    fetch first 5 rows only

Problem 8: Which community area(number) is most crime prone?

In [ ]:
%sql select COMMUNITY_AREA_NUMBER,count(COMMUNITY_AREA_NUMBER) as CRIME_QUANTITY from CRIME \
    group by COMMUNITY_AREA_NUMBER\
    order by CRIME_QUANTITY desc\
    fetch first 1 row only

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [ ]:
%sql select COMMUNITY_AREA_NAME from CENSUS where HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) from CENSUS)

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

A main query containing the community area number column in the WHERE clause

The query references both the CENSUS_DATA and
CHICAGO_CRIME_DATA tables

A sub-query in the WHERE clause

A GROUP BY clause in the sub-query

ORDER BY and DESC clauses in the sub-query

LIMIT (or FETCH FIRST 1 ROWS)

In [22]:
%sql select CE.COMMUNITY_AREA_NAME,CR.COMMUNITY_AREA_NUMBER from CENSUS CE,CRIME CR \
    where (select count(CR.COMMUNITY_AREA_NUMBER) as CR.CRIME_QUANTITY from CRIME\
    group by CR.COMMUNITY_AREA_NUMBER\
    order by CR.CRIME_QUANTITY desc limit 1)

 * ibm_db_sa://xcx21383:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "." was found following "Y_AREA_NUMBER) as CR".  Expected tokens may include:  ",".  SQLSTATE=42601\r SQLCODE=-104
[SQL: select CE.COMMUNITY_AREA_NAME,CR.COMMUNITY_AREA_NUMBER from CENSUS CE,CRIME CR where (select count(CR.COMMUNITY_AREA_NUMBER) as CR.CRIME_QUANTITY from CRIME group by CR.COMMUNITY_AREA_NUMBER order by CR.CRIME_QUANTITY desc limit 1)]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [3]:
%sql select COMMUNITY_AREA_NUMBER,count(COMMUNITY_AREA_NUMBER) as CRIME_QUANTITY from CRIME \
    group by COMMUNITY_AREA_NUMBER\
    order by CRIME_QUANTITY desc limit 1

 * ibm_db_sa://xcx21383:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(25, 43)]

In [ ]:
%sql select COMMUNITY_AREA_NAME from CENSUS\
    where COMMUNITY_AREA_NUMBER